<% content_for :body do %>
  <div class="store-scope">
    <%= link_to t('.featured'), refinery.store_store_path(*{ scope: 'featured', retailer_id: params[:retailer_id] }.reject { |_, v| v.nil? }) %>
    <%= link_to t('.most_popular'), refinery.store_store_path(*{ scope: 'most_popular', retailer_id: params[:retailer_id] }.reject { |_, v| v.nil? }) %>
    <%= link_to t('.recent'), refinery.store_store_path(*{ scope: 'recent', retailer_id: params[:retailer_id] }.reject { |_, v| v.nil? }) %>
  </div>

  <table>
    <tr>
      <th>Product No.</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <% if @products.any? %>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.product_number, refinery.store_product_path(product) %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3" class="italic">No products added yet</td>
      </tr>
    <% end %>
  </table>
<% end %>

<% content_for :side_body do %>
  <h4>Retailers</h4>
  <ul class="store-retailer-list">
    <li><%= link_to t('.all_retailers'), refinery.store_store_path(*{ scope: params[:scope] }.reject { |_, v| v.nil? }) %></li>
    <% @retailers.each do |retailer| %>
      <li><%= link_to retailer.name, refinery.store_store_path(*{ retailer_id: retailer.id, scope: params[:scope] }.reject { |_, v| v.nil? }) %></li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
