<% content_for :body do %>
  <section>
    <h1>Retailer</h1>
    <p>
      <%=raw @order.retailer.name %>
    </p>
  </section>
  <section>
    <h1>Order Number</h1>
    <p>
      <%=raw @order.order_number %>
    </p>
  </section>
  <section>
    <h1>Reference</h1>
    <p>
      <%=raw @order.reference %>
    </p>
  </section>
  <section>
    <h1>User</h1>
    <p>
      <%=raw @order.user.username %>
    </p>
  </section>
  <section>
    <h1>Status</h1>
    <p>
      <%=raw @order.status %>
    </p>
  </section>
  <section>
    <h1>Order Items</h1>
    <% if @order.order_items.any? %>
      <% @order.order_items.each do |order_item| %>
        <% if order_item.product.present? %>
          <p><%= link_to order_item.product.product_number, refinery.store_product_path(order_item.product) %>, <%= order_item.product.name %>, <%= order_item.product.description %></p>
        <% else %>
          <p><%= order_item.product_number %>, <%= order_item.comment %></p>
        <% end %>
      <% end %>
    <% else %>
      <p class="italic">No Order Items added</p>
    <% end %>
    <p>
      <%=raw @order.status %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="orders">
      <% @orders.each do |order| %>
        <li>
          <%= link_to order.order_number, refinery.store_order_path(order) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
